<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <title>London live map</title>
</head>

<body>
    <h1>London Bus Live Map</h1>
    <div id="mapid" style="width:900px; height:580px"></div>

    <script>
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibXphYmFsemEiLCJhIjoiY2p0ZWUwNGhuMDM0djQzbXhqY3FjdHB5OCJ9.cIw1n6WFGiPu3bnTNK5ZZg'
        }).addTo(mymap);

        mapMarkers1 = []

        var source = new EventSource('/topic/geodata_final');
        source.addEventListener('message', function (e) {
            console.log('Message');
            obj = JSON.parse(e.data);
            console.log(obj)

            if (obj.busline == '00001') {
                for (var i = 0; i < mapMarkers1.length; i++) {
                    mymap.removeLayer(mapMarkers1[i]);
                }
                marker1 = L.marker([obj.latitude, obj.longitude],).addTo(mymap);
                mapMarkers1.push(marker1)
            }

        }, false);
    </script>


</body>

</html>